<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    strict="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">Entities</directory>
            <directory suffix="Test.php">Interactors</directory>
            <directory suffix="Test.php">Libraries</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory suffix="Test.php">IntegrationTests</directory>
        </testsuite>
    </testsuites>
</phpunit>
