{{=(( ))=}} ((! Change the tagth to avoid conflict'th with Angular.j'eth ))
<!DOCTYPE html>
<html ng-app="Se7enChat">
    <head>
        <title>((pageTitle))</title>
        <link rel="stylesheet" type="text/css" href="((cssUrl))/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.8/angular-animate.min.js"></script>
        <script src="((javascriptUrl))/index.js"></script>
        <script type="text/javascript">
            var application = angular.module('Se7enChat', ['ngAnimate']);
            var userName = '((userName))';
        </script>
    </head>
    <body>
        <div id="sideSlider">
            <img src="((imageUrl))/panel-slide.png" alt="" />
        </div>
        <div id="rooms">
            <span id="roomTitle">Room 1</span>
            <select id="roomSelection">
                ((# rooms ))
                    <option>((name))</option>
                ((/ rooms ))
            </select>
        </div>

        <div id="posts" ng-controller="PostsController">
            <div class="post" ng-repeat="post in posts" data-ng-animate="'post-animate'">
                <div class="postHeader">
                    <div id="controlIcons">
                        X((! Temporary icon replacement. ))
                    </div>
                    <strong>{{post.userName}}</strong> | {{post.timestamp}}
                    <div class="controls"></div>
                </div>
                <div class="postBody">
                    {{post.body}}
                </div>
            </div>
        </div>
        <div id="footerBar">
            <img id="avatar" src="http://i.imgur.com/NKTRRtZ.png">
            
            <div id="inputContainer">
                <form ng-submit="addPost()">
                    <input type="submit" id="messageButton" value="Send">
                    <div id="textContainer">
                        <input
                            type="text"
                            id="messageBar"
                            placeholder="Type here, then press enter."
                            ng-model="postText">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
