.textShadow {
  text-shadow: 0 0 1px #333333;
}
.blueGradient {
  background: #0077e6;
  background: -moz-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0077e6),color-stop(100%,#2f69b5));
  background: -webkit-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -o-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -ms-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: linear-gradient(to bottom,#0077e6 0%,#2f69b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077e6',endColorstr='#2f69b5',GradientType=0);
}
.blueGradientReversed {
  background: #2f69b5;
  background: -moz-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2f69b5),color-stop(100%,#0077e6));
  background: -webkit-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -o-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -ms-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: linear-gradient(to bottom,#2f69b5 0%,#0077e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f69b5',endColorstr='#0077e6',GradientType=0);
}
.whiteGradient {
  background: #e4e4e4;
  background: -moz-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#e4e4e4),color-stop(50%,#ffffff),color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -o-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -ms-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: linear-gradient(to right,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#e4e4e4',GradientType=1);
}
.verticalWhiteGradient {
  background: #e4e4e4;
  background: -moz-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e4e4e4),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -o-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: linear-gradient(to bottom,#e4e4e4 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#ffffff',GradientType=0);
}
.shadow {
  -webkit-box-shadow: 0 0 5px 1px #333333;
  box-shadow: 0 0 5px 1px #333333;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: arial;
  background: #e4e4e4;
  background: -moz-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#e4e4e4),color-stop(50%,#ffffff),color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -o-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -ms-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: linear-gradient(to right,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#e4e4e4',GradientType=1);
}
#headerBar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #2f69b5;
  background: -moz-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2f69b5),color-stop(100%,#0077e6));
  background: -webkit-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -o-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: -ms-linear-gradient(top,#2f69b5 0%,#0077e6 100%);
  background: linear-gradient(to bottom,#2f69b5 0%,#0077e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f69b5',endColorstr='#0077e6',GradientType=0);
}
.room {
  display: block;
  float: left;
  margin: 5px 0 0 10px;
  line-height: 25px;
  padding: 0 8px;
  color: #888;
  font-size: 15px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: #e4e4e4;
  background: -moz-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e4e4e4),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -o-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,#e4e4e4 0%,#ffffff 100%);
  background: linear-gradient(to bottom,#e4e4e4 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#ffffff',GradientType=0);
  cursor: pointer;
}
.room.selected {
  color: #eee;
  background: #0077e6;
  background: -moz-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0077e6),color-stop(100%,#2f69b5));
  background: -webkit-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -o-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -ms-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: linear-gradient(to bottom,#0077e6 0%,#2f69b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077e6',endColorstr='#2f69b5',GradientType=0);
  -webkit-box-shadow: 0 0 1px 0 #FFFFFF;
  box-shadow: 0 0 1px 0 #FFFFFF;
}
#posts {
  position: absolute;
  top: 30px;
  right: 16px;
  bottom: 40px;
  left: 0;
  overflow: auto;
}
.post {
  position: relative;
  padding: 30px 8px 5px 8px;
  border-bottom: 2px dashed #aaa;
}
.postHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 5px;
  line-height: 25px;
  font-size: 12px;
  color: #555;
}
.postHeader #controlIcons {
  float: right;
  line-height: 25px;
}
.postBody {
  color: #888;
}
#sideSlider {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 40px;
  width: 15px;
  border-left: 1px solid #aaa;
  cursor: pointer;
  background: #e4e4e4 url(../Images/SideSliderArrow.png) center center no-repeat;
}
#footerBar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background: #0077e6;
  background: -moz-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0077e6),color-stop(100%,#2f69b5));
  background: -webkit-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -o-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -ms-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: linear-gradient(to bottom,#0077e6 0%,#2f69b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077e6',endColorstr='#2f69b5',GradientType=0);
}
#inputContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 75%;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px 1px #333333;
  box-shadow: 0 0 5px 1px #333333;
}
#inputContainer #messageBar {
  outline: none;
  display: table-cell;
  vertical-align: middle;
  width: 89%;
  height: 30px;
  margin: 0;
  padding: 0 0 0 1%;
  border: 0;
  border-radius: 6px 0 0 6px;
  background: #e4e4e4;
  background: -moz-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#e4e4e4),color-stop(50%,#ffffff),color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -o-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: -ms-linear-gradient(left,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  background: linear-gradient(to right,#e4e4e4 0%,#ffffff 50%,#e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',endColorstr='#e4e4e4',GradientType=1);
  color: #888;
}
#inputContainer #messageButton {
  display: table-cell;
  vertical-align: middle;
  float: right;
  width: 10%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 6px 6px 0;
  background: #0077e6;
  background: -moz-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0077e6),color-stop(100%,#2f69b5));
  background: -webkit-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -o-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: -ms-linear-gradient(top,#0077e6 0%,#2f69b5 100%);
  background: linear-gradient(to bottom,#0077e6 0%,#2f69b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077e6',endColorstr='#2f69b5',GradientType=0);
  color: #eee;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 1px #333333;
}
#inputContainer #messageButton:hover {
  -webkit-transition: text-shadow 300ms ease;
  -moz-transition: text-shadow 300ms ease;
  -ms-transition: text-shadow 300ms ease;
  -o-transition: text-shadow 300ms ease;
  transition: text-shadow 300ms ease;
  text-shadow: 0 0 1px #FFFFFF;
}
#userInformation {
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0 0 1px #333333;
  float: right;
}
#userInformation #avatar {
  float: right;
  width: 32px;
  height: 32px;
  margin: 4px 10px 0 10px;
  cursor: pointer;
  border-radius: 6px;
}
